/* class is-sticky for header */
.home .navbar {
	background-color: transparent;
}

.navbar {
	transition: .3s ease-in-out background-color,
		.3s ease-in-out box-shadow,
		.3s ease-in-out height;
}

.home .navbar .nav-link,
.home .navbar .nav-link:hover,
.home .navbar .nav-link.w--current,
.home .navbar .nav-link.w--current:hover {
	color: var(--white);
	transition: .3s ease-in-out color;
}

.navbar.is-sticky .nav-link,
.navbar.is-sticky .nav-link:hover,
.navbar.is-sticky .nav-link.w--current,
.navbar.is-sticky .nav-link.w--current:hover {
	color: var(--black);
}

.navbar.is-sticky {
	/* background-color: var(--primary); */
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	background-color: rgba(62, 242, 192, 0.8);
	height: 96px;
	backdrop-filter: blur(20px);
}

.navbar.is-sticky .logo {
	opacity: 0;
}

.home .navbar .logo.logo-text {
	filter: invert(1);
	transition: .3s ease-in-out filter, .3s ease-in-out opacity;
}

.navbar.is-sticky .logo.logo-text {
	filter: invert(0);
	opacity: 1;
}

/* Embed YouTube Shorts */
.video-container {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding-top: 77.78%;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
	.video-container {
		flex-direction: column;
	}
	.video-wrapper {
		max-width: 100%;
		padding-top: 177.78%;
	}
}
